@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

body {
    font-family: 'Lora', serif;
    margin-bottom: 100px;
}

/* -----------------------------*/
body::-webkit-scrollbar {
    -webkit-appearance: none;
}
body::-webkit-scrollbar:vertical {
    width:10px;
}
body::-webkit-scrollbar-button:increment,body::-webkit-scrollbar-button {
    display: none;
} 
body::-webkit-scrollbar:horizontal {
    height: 10px;
}
body::-webkit-scrollbar-thumb {
    background-color: #f04305;
    border-radius: 20px;
    border: 2px solid #FF5300;
}
body::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color:none;
    background:none;
}

/* -----------------------------*/

.uk-navbar-left, .uk-navbar-container{ 
    background-color:none !important;
    background:none !important;
}

.uk-container { 
    padding-top: 20px;
}

.uk-button-primary { 
    background-color:#FF5300 !important; 
    color: #fff;
    border-radius: 3px;
    margin-top: 10px;
    margin-right: 10px;
} .uk-button-primary:hover{
    background-color: #0e0030 !important;
    border-radius: 6px;
}

.uk-button-danger {
    margin-bottom: 30px !important;
}

.uk-navbar-right {
    padding-right: 10px;
}

.uk-background-secondary {
    border-radius: 10px;
}

#index_descr {
    margin-bottom: 30px !important;
}

.allvid {
    color: #fff;
}

.youtube-btn {
    color: gray;
} .youtube-btn:hover {
    color: red;
}

.icon-btn {
    color: #f04305;
} .icon-btn:hover {
    color: #0e0030;
}

.uk-card {
    margin-top: 10px;
}

@media (max-width: 700px) {
    iframe {
        width: 500px;
        height: 300px;
    }
}